.site__navbar-links_logo{
    position: relative;
        right: 20px;
        margin: 0.3rem;
        padding: 0rem;
        align-items: flex-start;
}
.site__navbar {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.site__navbar-links_logo img {
    height: 150px;
    width: 150px;

}

.site__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.site__navbar-links{
    font-family: var(--font-family);
        font-weight: 200;
        font-size: 1rem;
        line-height: 25px;
        text-transform: capitalize;
        
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 0.5em;
        color: white;
        display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1rem;
}

.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50;
    position: relative;
}
.social-copy{
    padding: 0.5rem 0.5rem;
}
.social-copy-button{
       border: none;
        color: #fff;
        background-image: linear-gradient(30deg,rgba(98, 0, 238, 1) ,rgb(103, 39, 181));
        border-radius: 45%;
        padding: 10px 10px;
       
}

.social-copy-button button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #6c05da66;
    }

    70% {
        box-shadow: 0 0 0 10px rgba(48, 15, 235, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(131, 19, 228, 0);
    }
}
.site__navbar-menu {
    padding: 1rem 1rem;
    margin: 0;
    display: none;
    position: relative;
}

.site__navbar-menu_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 20px;
    left: 10px;
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.site__navbar-menu_container p {
    margin: 0rem 0;
}


@media screen and (max-width: 1300px){
    .site__navbar-links_logo {
            right: 40px;
        }
    .site__navbar-link{
        padding: 0;
        right: 100px;
    }
    .site__navbar-menu_container-links{
        font-size: 5px;
    }

}


@media screen and (max-width: 770px) {
    .site__navbar {
        padding: 2rem 4rem;
    }
    .site__navbar-links_container{
        display: none;
    }
    .site__navbar-menu{
        display: flex;
        right: 30px;
    }
    .site__navbar-menu_container{
        position:fixed;
    }
    .site__navbar-links_logo {
        right: 20px;
    }
}

@media screen and (max-width: 560px) {
    .site__navbar {
        padding: 1rem;
        margin: 0;
    }

    .site__navbar-links_logo {
        right: 30px;
    }
    .site__navbar-menu_container {
              position: fixed;
              left: 0px;
              padding: 0.5rem;
             
          }
    .social{
        left: -40px;
    }
    .site__navbar-sign {
        display: none;
    }

    .site__navbar-menu_container-links-sign {
        display: block;
    }
}
 @media screen and (max-width: 480px){
 
 .site__navbar-links_logo {
     right: 0px;
 }
 }



