@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');



:root {
  --font-family:'Poiret One', cursive;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

  --color-bg: #f4ebff;
  --color-footer: #cebbf9;
  --color-blog: rgba(98, 0, 238, 1);
  --color-text: white;
  --color-subtext: #FF8A71;
}